# ANN

In [22]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [23]:
df=pd.read_csv("all-raw-data.csv")
df

          ax     ay     az   gx   gy  gz  label
0        272  13524   7848 -679 -183 -61      0
1        408  13384   7884 -707 -178 -38      0
2        404  13380   7864 -748 -168 -57      0
3        412  13292   7816 -714 -146 -19      0
4        292  13368   7892 -752 -129 -27      0
...      ...    ...    ...  ...  ...  ..    ...
599994  2300    792  15244 -694 -187  87      3
599995  2304    736  15196 -666 -191  90      3
599996  2348    724  15180 -689 -192  81      3
599997  2220    684  15220 -695 -208  96      3
599998  2220    772  15132 -716 -220  91      3

[599999 rows x 7 columns]

# Feature Column

In [24]:
X = df.iloc[:, :-1]
X

          ax     ay     az   gx   gy  gz
0        272  13524   7848 -679 -183 -61
1        408  13384   7884 -707 -178 -38
2        404  13380   7864 -748 -168 -57
3        412  13292   7816 -714 -146 -19
4        292  13368   7892 -752 -129 -27
...      ...    ...    ...  ...  ...  ..
599994  2300    792  15244 -694 -187  87
599995  2304    736  15196 -666 -191  90
599996  2348    724  15180 -689 -192  81
599997  2220    684  15220 -695 -208  96
599998  2220    772  15132 -716 -220  91

[599999 rows x 6 columns]

# Target Column

In [25]:
y = df.iloc[:, -1]
y

0         0
1         0
2         0
3         0
4         0
         ..
599994    3
599995    3
599996    3
599997    3
599998    3
Name: label, Length: 599999, dtype: int64

# Spliting Data

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [28]:
# Initialize the ANN (MLP classifier)
mlp_model = MLPClassifier(hidden_layer_sizes=(100, ), max_iter=1000)  # 1 hidden layer with 100 neurons

In [29]:
# Train the ANN
mlp_model.fit(X_train_scaled, y_train)

MLPClassifier(max_iter=1000)

In [30]:
# Predictions
ann_predictions = mlp_model.predict(X_test_scaled)

In [31]:
from sklearn.metrics import accuracy_score
# Calculate accuracy
accuracy = accuracy_score(y_test, ann_predictions)
accuracy_percent = accuracy * 100
print("Accuracy:", accuracy_percent, "%")

Accuracy: 99.80583333333334 %

In [32]:
# Model Evaluation
print("Confusion Matrix:")
print(confusion_matrix(y_test, ann_predictions))
print("\nClassification Report:")
print(classification_report(y_test, ann_predictions))

Confusion Matrix:
[[29942     0    34     0]
 [    0 29935    76     0]
 [   36    86 29940     0]
 [    0     0     1 29950]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     29976
           1       1.00      1.00      1.00     30011
           2       1.00      1.00      1.00     30062
           3       1.00      1.00      1.00     29951

    accuracy                           1.00    120000
   macro avg       1.00      1.00      1.00    120000
weighted avg       1.00      1.00      1.00    120000

In [33]:
def predict_activity_ann(model, scaler, new_data_values):
    # Convert new data into DataFrame
    new_data = pd.DataFrame([new_data_values], columns=['ax', 'ay', 'az', 'gx', 'gy', 'gz'])
    
    # Scale the new data
    new_data_scaled = scaler.transform(new_data)
    
    # Make predictions using the trained model
    predictions = model.predict(new_data_scaled)
    
    # Map predicted labels to activity names
    activity_results = []
    for prediction in predictions:
        if prediction == 2:
            activity_result = "Walking"
        elif prediction == 3:
            activity_result = "Lying"
        else:
            activity_result = "Invalid"
        
        activity_results.append(activity_result)
    
    return activity_results

In [35]:
# New data values
new_data_values = [-1084,20436,-3528,4676,-9147,-230]

predicted_activities = predict_activity_ann(mlp_model, scaler, new_data_values)

# Display predicted activities
for activity in predicted_activities:
    print("Predicted Activity: {}".format(activity))

Predicted Activity: Walking